max_clients	4;

error_page	413	./error_pages/error_page_413;

server {
	listen	9999;
	host	127.0.0.1;
	server_name	www.example.com;
	root	/var/www;
	max_body_size	5000000;
	error_page	404	/errors/404.html;
	index	index.html;
	methods	GET, POST, DELETE;

	location /uploads/[
		autoindex	on;
		root	/var/www;
		methods	GET, POST;
		upload_dir	/var/uploads;
		index	upload.html;
	]

	location /cgi-bin/[
		cgi	/cgi-bin/;
		root	/var/www;
		methods	POST, GET;
		autoindex	on;
	]

	location /redirect/[
		return	301	http://www.google.com/;
	]

	location /docs/[
		root	/var/www;
		autoindex	on;
		methods	GET;
	]
}
