max_clients 100;

##available codes for error pages: 400, 403, 404, 405, 413, 500, 501
error_page_400 ./error_pages/error_page_400;
error_page_403 ./error_pages/error_page_403;
error_page_404 ./error_pages/error_page_404;
error_page_406 ./error_pages/error_page_406;
error_page_413 ./error_pages/error_page_413;
error_page_500 ./error_pages/error_page_500;
error_page_501 ./error_pages/error_page_501;

  server {
    index       index.html;
    listen      6970;
    host        127.0.0.1;
    server_name www.domain3.com;
    root        www/siege;
    methods     GET;

    location / {
      autoindex off;
    }
  }
