max_clients	4;

error_page	413	./error_pages/error_page_413;

server {
	listen	8080;
	host	127.0.0.1;
	server_name	www.example.com;
	root	/var/www/html;
	max_body_size	5000000;
	error_page	404	/errors/404.html;
	index	index.html;
	methods	GET, POST, DELETE;

	location /uploads/[
		autoindex	on;
		root	/var/uploads;
		methods	POST;
		upload_dir	/var/uploads;
	]

	location /cgi-bin/[
		cgi	.py|cgi-bin/;
		root	/usr/local/cgi-bin;
		methods	POST, GET;
	]

	location /redirect/[
		return	301	http://www.redirect.com/;
	]

	location /docs/[
		root	/var/www/docs;
		index	default.html;
		autoindex	off;
		methods	GET;
	]
}
