# Imposta il numero massimo di connessioni client
max_clients	10;

# Definisce la pagina di errore per l'errore 413 (Payload Too Large)
error_page	413	./error_pages/error_page_413;

# Definizione del primo server
server {
	listen	8080;
	host	127.0.0.1;
	server_name	www.example.com;
	root	/var/www/html;
	max_body_size	10000000;
	error_page	404	/errors/404.html;
	index	index.html;
	methods	GET, POST, DELETE;

	location /uploads/[
		autoindex	on;
		root	/var/uploads;
		methods	POST;
		upload_dir	/var/uploads;
	]

	location /cgi-bin/[
		cgi	.py|cgi-bin/;
		root	/usr/local/cgi-bin;
		methods	POST, GET;
	]

	location /redirect/[
		return	301	http://www.redirect.com/;
	]

	location /docs/[
		root	/var/www/docs;
		index	default.html;
		autoindex	off;
		methods	GET;
	]
}

# Definizione del secondo server
server {
	listen	9090;
	host	127.0.0.1;
	server_name	www.secondserver.com;
	root	/var/www/second_html;
	max_body_size	8000000;
	error_page	404	/errors/404.html;
	index	index.html;
	methods	GET, POST;

	location /images/[
		autoindex	on;
		root	/var/images;
		methods	GET;
	]

	location /api/[
		cgi	.py|api/;
		root	/usr/local/api;
		methods	POST, GET;
	]

	location /redirect/[
		return	302	http://www.anotherredirect.com/;
	]

	location /docs/[
		root	/var/www/second_docs;
		index	default.html;
		autoindex	off;
		methods	GET;
	]
}
